.searchTerm {
    font-weight: lighter;
    width: 300px;
    font-size: 16px;
    margin-top: 7px;
    margin-left: 10px;
    font-weight: lighter;
    background-color: transparent;
    border: none;
}

.vl {
    border-left: 3px solid #48444C;
    height: 80px;
    position: absolute;
    left: 50%;
    bottom: 20%;
    align-items: center;
}

.sosmed{
    text-align: right;
    margin-top: 50px;
    margin-left: 95px;
    margin-right: 120px;
    letter-spacing: 5px;
}

.copyright{
    margin-top: 20px;
    color: #48444C;
    font-weight: normal;
    font-size: 17px;
}

.contactfooter{
    align-items: left;
    margin-right: 95px;
    margin-left: 120px;
}

.subhead2 {
    display: block;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #898798;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}

.tagline{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 250px;
    color: #666666;
}

#footersosmed{
    text-align: right;
    color: #48444C;
    font-size: 20px;
    margin-left: 95px;
    margin-right: 120px;
    font-weight: 500;
}

.page-section3 {
    position: relative;
    padding-top: 80px;
    color: #898798;
    overflow: hidden;
}

.button-detail {
    color: #fff;
    background-color: #695C56;
    border-color: transparent;
    border-radius: 7px;
    padding: 8px 24px 8px 24px;
}

#button-about {
    margin-top: 0px;
    margin-left: 0px;
}

#kontak{
    color: #48444C;
    font-weight: 500;
}
